@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
.footer1{
    margin-top: 0rem;
    background-color: white;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
    /* border: 2px solid black; */
}

.footer2{
    /* border: 2px solid black; */
    text-align: center;
    padding: 1rem 0.875rem;
    font-family: 'Open Sans',sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    
}